name: Check Pgen

on:
  push:
    branches:
      - 'main'
    tags-ignore:
      - '*'
  pull_request:

permissions:
  contents: read

jobs:
  check:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: check
        run: cd ./tests && ./gradlew check

      - name: Upload r2dbc-basic test report
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: r2dbc-basic-test-report
          path: tests/r2dbc-basic/build/reports/tests/test
